<article class="post-article" data-id="{{post.id}}">
  {{> post-info post}}
  <form class="comment-post">
    <div>
      <label for="comment-text">Leave Comment:</label>
      <textarea type="text" name="comment-content" id="comment-text"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <div>
    <h2>Comments: </h2>
    {{> comments post.comments}}
  </div>
</article>
<script src="/javascript/comment.js"></script>